@import "tailwindcss";
@plugin "daisyui" {
  themes:
    emerald --default;
    /* light --default,
    dark --prefersdark,
    cupcake; */
}
:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
